.contact-container {
  background: url("./images/msg.gif") no-repeat center center/cover;
  padding: 60px 20px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.contact-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
  color: rgb(21, 21, 21);
}

/* Form */
.contact-form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Textarea styling */
.contact-form textarea {
  width: 100%;
  padding: 15px;
  border-radius: 14px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
  font-weight: 500;
  color: rgb(21, 21, 21);
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}

.contact-form textarea:focus {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 238, 232, 0.4);
}

/* Button matches hero gradient */
.contact-btn {
  background: transparent;
  color: black;
  border: 2px solid black;
  padding: 15px 32px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 28px;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 238, 232, 0.3);
}

.contact-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 238, 232, 0.5);
}
